body {
    background-color: rgb(48, 92, 92);
}

th {
    border: 2px solid #8c6b48;
  }
  
  table {
    text-align: center;
    margin: 20px auto;
  }
  
  td {
    border: 2px solid #8c6b48;
    width: 300px;
  }

  h1 {
    color: rgb(235, 81, 132);
    font-weight: bold;
    font-size: 38px;
    text-align: center;
  }

  h2 {
    color: rgb(99, 14, 99);
    font-size: 24px;
  }

  h3 {
    color: rgb(46, 223, 223);
    font-size: 20px;
  }
